* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    position: relative;
    overflow: hidden;
}

html {
    background-color: rgb(40, 40, 40);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.fixedFillHeight {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

#tabsContainer {
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 38px;
    overflow-x: hidden;
}
#tabs {
    display: flex;
    overflow-x: hidden;
}
.tab {
    display: table;
    flex-shrink: 0;
    padding: 9px 15px 9px 15px;
    border-right: 1px solid rgb(30, 30, 30);
    background-color: rgb(43, 43, 43);
    user-select: none;
    height: 100%;
    border-radius: 0 0 12px 12px;
    z-index: 10;
    /* transition: background-color 0.2s; */
}
.tab:active {
    background-color: rgb(30, 30, 30);
}
.selected {
    background-color: rgb(30, 30, 30);
    z-index: 20;
}
@media (hover: hover) {
    .tab:hover {
        background-color: rgb(35, 35, 35);
    }
    .tab:active {
        background-color: rgb(30, 30, 30);
    }
    .selected {
        background-color: rgb(30, 30, 30);
    }
    .selected:hover {
        background-color: rgb(30, 30, 30);
    }
}
.tab:first-child {
    border-radius: 0 0 12px 0;
}
.addtab {
    padding: 0px 15px 0px 15px;
    border-left: 1px solid rgb(30, 30, 30);
    z-index: 15;
}

main {
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img {
    user-select: none;
    background-color: rgb(32, 32, 32);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 30;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 30px;
}
img:active {
    background-color: rgb(25, 25, 25);
}
@media (hover: hover) {
    img:hover {
        background-color: rgb(25, 25, 25);
    }
    img:active {
        background-color: rgb(20, 20, 20);
    }
}
.float {
    position: absolute;
}
.top {
    top: 0;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
.bottom {
    bottom: 0;
}

h2 {
    display: table-cell;
    vertical-align: middle;
    color: rgb(200, 200, 200);
    font-weight: bolder;
}

h3 {
    color: rgb(200, 200, 200);
    padding-left: 20px;
    user-select: none;
}

h4 {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    min-width: 30px;
    max-width: 200px;
    color: rgb(200, 200, 200);
    user-select: none;
    font-size: 14px;
    white-space: nowrap;
}

canvas {
    background-image: url(res/grid.png);
    position: absolute;
}

.console {
    display: flex;
    background-color: rgba(0, 0, 0, 0.288);
    color: rgb(200, 200, 200);;
    padding-left: 7px;
    padding-top: 3px;
    width: 100%;
    height: 25px;
    user-select: none;
}

.box {
    padding-left: 3px;
    background-color: white;
    color: black;
    border: 2px solid black;
    width: 20px;
    height: 100%;
}