

:root {
    --bg_color:rgb(34, 34, 34); 

    --border_top: rgb(49, 49, 49);
    --border_bottom:rgb(40, 40, 40);
    --border_left:rgb(49, 49, 49);
    --border_right:rgb(40, 40, 40);

    --text_color:rgb(200, 200, 200);
    --faded_text_color: rgb(150, 150, 150);
    --disabled_text_color:rgb(80, 80, 80);

    --item_color: rgb(28, 28, 28);
    --item_hover: rgb(25, 25, 25);
    --item_active:rgb(20, 20, 20);

    --state_current: rgb(228, 225, 43);
    --state_accepted: rgb(6, 124, 6);
    --state_not_accepted: rgb(124, 6, 6);
    --state_selected: rgb(99, 178, 243);

    --tool_selected: rgb(172, 0, 0);

    --invert: 0;
}

.light {
    --bg_color: rgb(221, 221, 221); 

    --border_top: rgb(209, 209, 209);
    --border_bottom:  rgb(199, 199, 199);
    --border_left: rgb(199, 199, 199);
    --border_right:rgb(209, 209, 209);

    --text_color: rgb(55, 55, 55);
    --faded_text_color: rgb(105, 105, 105);
    --disabled_text_color: rgb(175, 175, 175);

    --item_color: rgb(134, 134, 134);
    --item_hover: rgb(146, 146, 146);
    --item_active: rgb(155, 155, 155);

    --state_current: rgb(228, 225, 43);
    --state_accepted: rgb(6, 124, 6);
    --state_not_accepted: rgb(124, 6, 6);
    --state_selected: rgb(99, 178, 243);

    --tool_selected: rgb(172, 0, 0);    

    --invert: 1;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    background-color: var(--bg_color);
    color: var(--text_color);
}

hr {
    border: none;
    border-top: 1px solid var(--text_color);
    max-width: 850px;
    margin: 3em auto 1em;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header p {
    display: flex;
    color: var(--disabled_text_color);
    padding: 5px 5px 5px 5px;
    width: 100%;

    justify-content: flex-end;
    align-items: center;
}

header a {
    color: var(--faded_text_color);
    text-decoration: none;
    text-align: right;
    padding: 0px 10px;
    cursor: pointer;
    line-height: 38px;
}
header a:hover {
    color: var(--disabled_text_color);
}

header img {
    margin: 0 5px;
    padding: 3px;
    height: 38px;
    width: 38px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    filter: invert(var(--invert));
}
header img:hover {
    background-color: rgba(0, 0, 0, 0);
    opacity: 50%;
}
header img:active {
    background-color: rgba(0, 0, 0, 0);
    opacity: 30%;
}


h1, h2, h3 {
    margin-top: 0.5em;
    text-align: center;
    font-size: 3.2em;
    font-weight: 100;
    font-style: italic;
}
h4 {
    color:var(--faded_text_color);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: italic;
    margin-top: 10px;
}
h2 {
    font-size: 2em;
    margin-bottom: -0.5em;
}
h3 {
    font-size: 1.5em;
    text-align: left;
    font-weight: initial;
    margin-top: 2.5em !important;
    margin-bottom: 0.8em !important;
    text-decoration: underline dotted var(--disabled_text_color);
}

main {
    max-width: 850px;
    margin: 3em auto auto;

    font-family: Arial, Helvetica, sans-serif;
}
main p, h3 {
    margin: 2em 25px;
    line-height: 1.5;
}
main .list {
    margin: 2em 60px;
}

footer {
    margin: 0px auto 2em;
    color: var(--faded_text_color);;
    text-align: center;
}

footer .bottom_navigation {
    display: table;
    margin: 0px auto;
}

footer ul {
    padding: 0px;
    list-style: none;
    text-align: center;
    vertical-align: middle;
}

footer li {
    float: left;
    padding: 1em;
    color:var(--disabled_text_color);
    font-size: 1.3em;
    text-decoration: none;
    cursor: pointer;
}
footer li:hover {
    background-color: var(--item_hover);
}
footer li:active {
    background-color: var(--item_active);
}
footer span {
    color: var(--faded_text_color);
}

.subject_list {
    display: block;
    list-style: disc;
    color: var(--faded_text_color);
}
.subject_list li {
    padding: 0.5em;
    margin-bottom: 1em;
}
.lesson_list {
    margin-left: 30px;
    margin-top: 5px;
    display: block;
    list-style: circle;
}
.lesson_list li {
    padding: 0.5em;
    margin-bottom: 0;

}
.subject_list a:link {
    color: var(--text_color);
}
.subject_list a:visited {
    color: var(--faded_text_color);
}
.subject_list a:hover {
    opacity: 60%;
}


.fsm_frame {
    position: relative;
    overflow: hidden;

    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 400px;
    left: 0px;
    top: 0px;
}

.shadow {
    position: absolute;
    pointer-events: none;
    user-select: none;
    width: 100%;
    height: 100%;
    z-index: 30;
    box-shadow: inset 0px 3px 6px 2px rgba(0, 0, 0, 0.3);
}

.fsm_canvas {    
    position: absolute;

    width: 200%;
    height: 200%;
}
.fsm_canvas::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-image: url("res/grid.svg");
    filter: invert(var(--invert));
}

.not_selectable {
    user-select: none;
}

.default_cursor {
    cursor: default;
}

.no_events {
    pointer-events: none;
}

.disabled {
    display: none;
}


.state {
    position: absolute;
    z-index: 2;
}
.state_current {
    fill: var(--state_current);
}
.state_accepted {
    fill:var(--state_accepted);
}
.state_not_accepted {
    fill:var(--state_not_accepted);
}
.state_selected {
    fill:var(--state_selected);
}
.svg {
    display: block;
}
.state_text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border: 0px;
    outline: 0px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
}

.transition {
    position: absolute;
    z-index: 0;
}

.transition_text {
    position: absolute;
    width: 100%;
    top: -4px;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text_color);
    border: 0px;
    outline: 0px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.loop_text {
    left: 0px;
    top: -8px;
}

img {
    user-select: none;
    width: 45px;
    height: 45px;
    z-index: 30;
    transition: background-color 0.2s ease 0s;
    background-color: var(--item_color);
}
img:hover {
    background-color:var(--item_hover);
}
img:active {
    background-color: var(--item_active);
}
img svg {
    filter: invert(var(--invert));
}


.bottom_bar {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0px;
    background-color:var(--bg_color);
    z-index: 20;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.fsm_string_container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 1em;
    margin-right: 1em;
}

.fsm_string {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    user-select: none;
    color: var(--text_color);
    background-color: var(--bg_color);
    border: 0px;
    outline: 0px;
    overflow: hidden;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
    line-height: 50px;
    cursor: text;

    scroll-behavior: smooth;
}

.inputSelected {
    color: red;
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
}

.fsm_runstep {
    position: relative;
    display: flex;
    right: 0px;
    transition: margin 0.2s ease-out;
    bottom: 0px;
    background-color: var(--bg_color);
    border-radius: 99999px 0px 0px 99999px;
    border-top: 1px solid var(--border_top);
    border-left: 1px solid var(--border_left);
    border-bottom: 1px solid var(--border_bottom);
}

.fsm_runstep img {
    margin: 1px 5px 1px 1px;
    border-radius: 50%;
}

.toggle_toolbar {
    position: absolute;
    border-top-left-radius: 50%;
    bottom: 49px;
    right: 0px;
    z-index: 55;
    background-color: var(--bg_color);
    border-top: 1px solid var(--border_top);
    border-left: 1px solid var(--border_left);
}
.toolbar {
    position: absolute;
    height: 50px;
    right: -100%;
    bottom: 0px;
    z-index: 50;
    background-color: var(--bg_color);
    border-radius: 99999px 0px 0px 99999px;
    border-top: 1px solid var(--border_top);
    border-left: 1px solid var(--border_left);
    border-bottom: 1px solid var(--border_bottom);
    transition: right 0.2s ease-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.toolbar_show {
    right: 0px;
}
.toolbar img {
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 2px;
}
.tool_selected {
    background-color: var(--bg_color);
    border: 2px solid var(--tool_selected);
}

.home {
    background-color: var(--bg_color);
    position: absolute;
    z-index: 100;
    transform: rotate(180deg);
}

@media only screen and (min-width: 700px) {
    .toggle_toolbar {
        display: none;
    }
    .toolbar {
        right: 0px;
    }
    .fsm_runstep {
        margin-right: 210px;
        border-radius: 99999px 99999px 99999px 99999px;
        border-right: 1px solid var(--border_right);
    }
    .fsm_runstep img {
        margin: 1px 1px 1px 1px;
    }

}

.toggle_options_menu {
    background-color: var(--bg_color);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}
.options {
    position: absolute;
    z-index: 90;
    overflow: hidden;

    width: 100%;
    height: 100%;
}
.options_menu, .load_menu {
    position: absolute;
    right: -180px;
    z-index: 2;
    transition: right 0.1s ease-in-out;

    width: 180px;
    max-height: 400px;
    overflow: auto;
    background-color:var(--bg_color);
    border: 1px solid var(--border_top);
    
    list-style: none;

    font-family: Arial, Helvetica, sans-serif;
}

.menu_show {
    right: 0;
}
.options_menu li, .load_menu li {
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
    padding: 0.8em;
    user-select: none;
}
.options_menu li:hover, .load_menu li:hover {
    background-color: var(--item_hover);
}
.options_menu li:active, .load_menu li:active {
    background-color: var(--item_active);
}
.options_menu li a {
    color: inherit;
    text-decoration: none;
}
input[type="file"] {
    display: none;
}
.list_item {
    width: 100%;
    height: 100%;
    padding: 0.8em;
    cursor: pointer;
}