.transition {
    position: absolute;
    width: fit-content;
    height: 0;
}

.transition svg {
    padding: 0;
    cursor: pointer;
}

.transition .input {
    position: absolute;
    
    width: 150px;
    left: calc(-150px/2 + 50%);
    height: 26px;

    top: 0;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text_color);
    border: 0px;
    outline: 0px;
    text-decoration: none;
    font-family: var(--font-sans-serif);
    font-size: 1em;
    font-weight: bold;
}

.transition.initial {
    cursor: initial;
}

.transition.initial .input {
    width: 100%;
    top: -10px;
    left: -5px;
}
.transition.initial svg {
    cursor: initial;
}

.transition.loop {
    height: initial;
}
.transition.loop .input {
    top: -11px;
}