

.fsm-string {
	background-color: var(--background-color);
	border: var(--menu-border);
	margin: 0 3px;

	padding-left: 4px;
	padding-right: 4px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.4);
}

.fsm-string, .fsm-string-input, .fsm-pseudo-input {
	border-radius: 999999px;
	position: relative;
	background-color: var(--background-color);
	height: 48px;
	outline: none;
	white-space: nowrap;

	color: var(--text-color);
	font-family: var(--font-mono);
	font-size: 1.05em;

	overflow: hidden;
}

.fsm-string-input, .fsm-pseudo-input {
	overflow: hidden;
	position: absolute;
	width: calc(100% - 16px);
	padding-left: 8px;
}

.fsm-pseudo-input {
	user-select: none;
	line-height: 48px;
}

.fsm-string .highlight {
	color: var(--highligh-color);
	margin: 0 3px;
	padding: 0 3px;
	font-size: 1.12em;
	border: var(--menu-border);
}